# Python
__pycache__/
*.pyc
*.pyo
*.spec
build/
dist/
venv/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# 项目
downloads/
*.merged.ts
config.json

# PyInstaller
*.manifest
